{% extends "layouts/base.html" %}
{% block content %}
    <div class="card">
            <div class="card-header pb-0">
              <div class="row">
                <div class="col-lg-6 col-7 pl-5">
                  <h4>{{ dish.name }}</h4>
                </div>
                <div class="col-lg-6 col-5 my-auto text-end">
                  <div class="dropdown float-lg-end pe-4">
                    <a class="cursor-pointer" id="dropdownTable" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fa fa-ellipsis-v text-secondary"></i>
                    </a>
                    <ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5" aria-labelledby="dropdownTable">
                      <li><a class="dropdown-item border-radius-md" href="{% url "kitchen:dish-delete" pk=dish.id %}">Delete dish</a></li>
                        <li><a class="dropdown-item border-radius-md" href="{% url "kitchen:dish-update" pk=dish.id %}">Update dish</a></li>
                        <li><a class="dropdown-item border-radius-md" href="{% url "kitchen:toggle-dish-assign" pk=dish.id %}">
                            {% if user in dish.cooks.all %}
                                Delete me from dish
                            {% else %}
                                Assign me to dish
                            {% endif %}
                        </a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
                <div class="card mb-3" style="background: aliceblue">
                    <div class="row" >
                        <div class="col-auto" style="text-align: center;">
                                <h5 class=" p-4" style="color: black;">Type</h5>
                                <p style="color: black">{{ dish.dish_type.name }}</p>
                         </div>
                        <div class="col-auto" style="text-align: center;">
                                <h5 class=" p-4" style="color: black;">Price</h5>
                                <p style="color: black">{{ dish.price }}</p>
                         </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card mb-3" style="background: coral">
                        <div class="row" >
                            <div class="col-auto" style="text-align: center;">
                                    <h5 class=" p-4" style="color: black;">Description</h5>
                                    <p style="color: black">{{ dish.description }}</p>
                             </div>
                            <div class="col-auto" style="text-align: center;">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card">
                        <div class="card-header pb-0">
                            <div class="row">
                            <div class="col-lg-6 col-7 pl-5">
                            <h4>Cookers</h4>
                        </div>
                            <div class="card-body px-0 pb-2">
                              <div class="table-responsive">
                                <table class="table align-items-center mb-0">
                                  <thead>
                                    <tr>
                                        <th class="text-uppercase text-secondary text-xs font-weight-bolder" style="text-align: center">ID</th>
                                      <th class="text-uppercase text-secondary text-xs font-weight-bolder" style="text-align: center">Username</th>
                                      <th class="text-uppercase text-secondary text-xs font-weight-bolder" style="text-align: center"> First Name</th>
                                      <th class="text-center text-uppercase text-secondary text-xs font-weight-bolder" style="text-align: center">Last Name</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                      {% for cook in dish.cooks.all %}
                                        <tr>
                                          <td class="align-middle text-center text-sm">
                                              <span class="text-xs font-weight-bold">{{cook.id}}</span>
                                          </td>
                                          <td class="align-middle text-center text-sm">
                                            <a class="link-warning link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{% url "kitchen:cook-detail" pk=cook.id %}">{{cook.username}}</a>
                                          </td>
                                          <td class="align-middle text-center text-sm">
                                            <span class="text-xs font-weight-bold">{{cook.first_name}}</span>
                                          </td>
                                          <td class="align-middle text-center text-sm">
                                            <span class="text-xs font-weight-bold"> {{cook.last_name}} </span>
                                          </td>
                                        </tr>
                                      {% endfor %}
                                  </tbody>
                                </table>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}